main{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: rgb(240, 240, 240);
  min-height: 95vh;
  position: absolute;
  top: 50px;
}

.mainSection{
  display: flex;
  flex-direction: column;
  background-color: rgba(55,55,55,0);
  width: 98%;
  margin: 0;
  padding: 0;
}

html{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
